.forgottenPass-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 auto;
    margin-top: 170px;
    height: 800px;
    width: 565px;
    background-position: center;
    box-shadow: 0px 8px 32px 5px rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(18px);
    border-radius: 15px;
    background-color: rgba(190, 190, 190, 0.13);
 
}
.forgottenPass-content h1{
    margin-top: 160px;
    background: transparent;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;

}
.confirmation-button{
    margin-top: 120px;
    text-align: center;
}
.logo{
    position: absolute;
    top: -100px;
    left: -170px;
}

.forgottenPass-descr{
    margin-top: 320px;
    text-align: center;
    color: rgba(173, 173, 173, 1);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.01em;
    padding: 0 100px;
    align-self: center;
}
.forgottenPass-text{
    margin-bottom: 5px;
    background-color: transparent;
}
.forgottenPass-email{
    margin: 20px 0 5px 0;
}
